# -----------------------------------------------------------------------------
# Application BASE URL
# For production, set to your domain, e.g. https://mksaas.com
# For development, set to http://localhost:3000 or any other port
# -----------------------------------------------------------------------------
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# -----------------------------------------------------------------------------
# Better Auth
# https://www.better-auth.com/docs/installation
# Click `Generate Secret` button in Better Auth documentation
# -----------------------------------------------------------------------------
BETTER_AUTH_SECRET=""

# -----------------------------------------------------------------------------
# Github OAuth
# https://www.better-auth.com/docs/authentication/github
# Get Client ID and Client Secret from https://github.com/settings/developers
# -----------------------------------------------------------------------------
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# -----------------------------------------------------------------------------
# Google OAuth
# https://www.better-auth.com/docs/authentication/google
# Get Client ID and Client Secret from https://console.cloud.google.com/apis/credentials
# -----------------------------------------------------------------------------
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# -----------------------------------------------------------------------------
# Database (Neon or Supabase or database provider of your choice)
# https://orm.drizzle.team/docs/get-started/neon-new
# https://orm.drizzle.team/docs/connect-supabase
# -----------------------------------------------------------------------------
DATABASE_URL=""

# -----------------------------------------------------------------------------
# Email (Resend)
# https://resend.com/docs/api-reference/introduction
# https://resend.com/docs/dashboard/audiences/contacts
# -----------------------------------------------------------------------------
RESEND_API_KEY=""
RESEND_AUDIENCE_ID=""

# -----------------------------------------------------------------------------
# Storage (Cloudflare R2 or S3-compatible service of your choice)
# https://www.npmjs.com/package/@aws-sdk/client-s3
# -----------------------------------------------------------------------------
STORAGE_REGION="auto"
STORAGE_BUCKET_NAME=""
STORAGE_ACCESS_KEY_ID=""
STORAGE_SECRET_ACCESS_KEY=""
STORAGE_ENDPOINT=""
STORAGE_FORCE_PATH_STYLE="false"
STORAGE_PUBLIC_URL=""

# -----------------------------------------------------------------------------
# Payment (Stripe)
# https://stripe.com/docs/keys
# -----------------------------------------------------------------------------
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
# Pro plan - monthly subscription
NEXT_PUBLIC_STRIPE_PRICE_PRO_MONTHLY=""
# Pro plan - yearly subscription
NEXT_PUBLIC_STRIPE_PRICE_PRO_YEARLY=""
# Lifetime plan - one-time payment
NEXT_PUBLIC_STRIPE_PRICE_LIFETIME=""

# -----------------------------------------------------------------------------
# Analytics 
# -----------------------------------------------------------------------------
# Google Analytics (https://analytics.google.com)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
# -----------------------------------------------------------------------------
# Umami Analytics (https://umami.is)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_UMAMI_WEBSITE_ID=""
# -----------------------------------------------------------------------------
# OpenPanel Analytics (https://openpanel.dev)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=""
# -----------------------------------------------------------------------------
# Plausible Analytics (https://plausible.io)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=""
# -----------------------------------------------------------------------------
# Seline Analytics
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SELINE_TOKEN=""
# -----------------------------------------------------------------------------
# DataFast Analytics (https://datafa.st)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_DATAFAST_ANALYTICS_ID=""
NEXT_PUBLIC_DATAFAST_ANALYTICS_DOMAIN=""
