@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Import theme variables from theme-xxx.css as you need */
  /* all the themes are from https://ui.shadcn.com/themes */
  /* @import "./theme-blue.css"; */
  /* @import "./theme-violet.css"; */
  /* @import "./theme-zinc.css"; */
  @import "./theme.css";
  
  /* please notice that sidebar theme need to be set manually */
  /* https://ui.shadcn.com/docs/components/sidebar#theming */
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%}

  html {
    /* prevent the layout from shifting when the scrollbar appears or disappears. */
    scrollbar-gutter: stable;
    
    /* Force the scrollbar to always be visible to prevent layout shifts */
    /* can not set this, otherwise the theme switcher will disappear when click it after page scrolled */
    /* overflow-y: scroll; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* MDX styles for code highlighting */
@layer components {
  /**
   * Styles for rehype-pretty-code syntax highlighting
   */
  [data-rehype-pretty-code-figure] code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
    counter-reset: line;
    box-decoration-break: clone;
  }

  [data-rehype-pretty-code-figure] [data-line] {
    @apply inline-block min-h-[1rem] w-full px-4 py-0.5;
  }

  [data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
    @apply px-2;
  }

  [data-rehype-pretty-code-figure] .line-highlighted span {
    @apply relative;
  }

  [data-rehype-pretty-code-title] {
    @apply mt-2 px-4 pt-6 text-sm font-medium text-foreground;
  }

  [data-rehype-pretty-code-title] + pre {
    @apply mt-2;
  }
}
