@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 239 6.9% 4%;
    --card: 0 0% 100%; 
    --card-foreground: 239 6.9% 4%;
    --popover: 0 0% 100%; 
    --popover-foreground: 239 6.9% 4%;
    --primary: 239 69% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 6.9% 96%;
    --secondary-foreground: 239 6.9% 10%;
    --muted: 239 6.9% 96%;
    --muted-foreground: 239 6.9% 46%;
    --accent: 239 6.9% 96%;
    --accent-foreground: 239 6.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 239 6.9% 90%;
    --input: 239 6.9% 90%;
    --ring: 239 69% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 239 6.9% 4%;
    --foreground: 0 0% 100%;
    --card: 239 6.9% 4%;
    --card-foreground: 0 0% 100%;
    --popover: 239 6.9% 4%;
    --popover-foreground: 0 0% 100%;
    --primary: 239 69% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 239 6.9% 16%;
    --secondary-foreground: 239 6.9% 98%;
    --muted: 239 6.9% 16%;
    --muted-foreground: 239 6.9% 65%;
    --accent: 239 6.9% 16%;
    --accent-foreground: 239 6.9% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 239 6.9% 16%;
    --input: 239 6.9% 16%;
    --ring: 239 69% 68%;
  }
}

@layer base {
  html {
    /* prevent the layout from shifting when the scrollbar appears or disappears. */
    scrollbar-gutter: stable;
  }
  
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .link-underline-animation {
    @apply relative underline underline-offset-4 decoration-transparent decoration-2
          hover:decoration-primary hover:text-primary transition-all duration-300 ease-in-out;
  }
}