@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Import theme variables from theme-xxx.css as you need */
  /* all the themes are from https://ui.shadcn.com/themes */
  /* @import "./theme-blue.css"; */
  /* @import "./theme-violet.css"; */
  /* @import "./theme-zinc.css"; */
  @import "./theme.css";
  
  /* please notice that sidebar theme need to be set manually */
  /* https://ui.shadcn.com/docs/components/sidebar#theming */
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%}
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%
  }

  html {
    /* prevent the layout from shifting when the scrollbar appears or disappears. */
    scrollbar-gutter: stable;
    
    /* Force the scrollbar to always be visible to prevent layout shifts */
    /* can not set this, otherwise the theme switcher will disappear when click it after page scrolled */
    /* overflow-y: scroll; */
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .link-underline-animation {
    @apply relative underline underline-offset-4 decoration-transparent decoration-2
          hover:decoration-primary hover:text-primary transition-all duration-300 ease-in-out;
  }
}
